@font-face {
  font-family: "fontGame";
  /* src: url('../font/Pony.ttf'); */
}

body {
  background-image: url("./img/bgmovie.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  justify-content: center;
  display: flex;
}

.bookingMovie {
  font-family: "fontGame";
}
.title {
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 3.2vw;
}
label {
  color: #fff;
}
.item-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.item-left {
  flex-basis: 60%;
  margin-bottom: 1.5em;
}
.item-form span {
  color: #f00;
}
.item-form input {
  padding: 0.8em;
  width: 80%;
  background: transparent;
  border: 1px solid #888686;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  color: #fff;
}
.item-right {
  flex-basis: 40%;
}
.form-control:focus {
  background-color: transparent;
  color: #fff;
}
.button-start {
  font-weight: 600;
  border-radius: 8px;
  padding: 8px 20px;
  letter-spacing: 1px;
}
.ghe {
  border: 3px solid orange;
  border-radius: 5px;
  background-color: white;
  color: transparent;
}

.rowNumber {
  /* font-size: 25px; */
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 30px;
  color: yellow;
}
.firstChar {
  color: yellow;
  font-size: 35px;
  margin-right: 15px;
}

.screen {
  border-bottom: 50px solid rgb(255, 159, 95);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100;
  width: 80%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fff;
}
.form-seat {
  width: 700px;
  margin: 0 5vw;
  background: rgba(128, 128, 128, 0.34);
  padding: 3.5vw;
  flex-wrap: wrap;
}

.form-seat p {
  color: #ff9800;
  line-height: 1.7;
}

.gheDuocChon {
  background: rgb(255 0 0);

  cursor: no-drop !important;
  border-radius: 5px;
}
.contentSmall {
  display: inline-block;
  color: #fff;

  margin-right: 1em;
  padding: 2em 0 1em 0;
}
.contentSmall::before {
  content: "";
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 10px;
}
.greenSeat::before {
  content: "";
  background: rgb(0 128 0);
}
.redSeat::before {
  content: "";
  background: red;
}
.emptySeat::before {
  content: "";
  background: white;
  box-shadow: inset 0px 2px 3px 0px rgb(255 152 0),
    0px 1px 0px 0px rgb(255 255 255 / 80%);
}
.gheDangChon {
  background: rgb(0 128 0);
  cursor: pointer;
  border-radius: 5px;
}

.cell,
.ghe {
  width: 30px;
  height: 25px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.seat-list-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.label {
  font-size: 14px;
  font-weight: 700;
}

.row-space {
  height: 25px;
}

.column-space {
  width: 35px;
}
.copyright {
  text-align: center;
  padding: 2.6rem 0;
  color: #fff;
}
/* .screen {
  width: 100%;
} */
.screen-way h5 {
  margin: 1.5em 0;
  background-color: #ff9800;
  color: black;
  padding: 20px 0;
  letter-spacing: 7px;
  width: 100%;
}
.table {
  color: black;
  background: #fff;
}
.table td {
  padding: 25px;
}
.form-control:disabled {
  background-color: transparent;
}
.select-ple {
  text-align: center;
  color: #ff9800;
  font-size: 18px;
  padding-bottom: 15px;
}
